.row
  .span6
    %h3 Filing date
    = f.input :filing_date
    = f.button :submit, "Continue", class: "btn btn-primary btn-large"
    = f.button :submit, "Back", class: "btn btn-large btn-padding", :name => "back_button" unless @corporation.first_step?
