.row
  .span12
    %h3 Step 1 - Choose a name
    %strong What is the name of this new corporation?
    %p The Delaware Secretary of State requires a unique company name. Stay clear of names protected by trademark or other rights.
    %br
    = f.input :name, :label => false
    = f.hidden_field :user_id, :value => current_user.id
    %br
    = f.button :submit, "Continue", class: "btn btn-primary btn-large"
    = f.button :submit, "Back", class: "btn btn-large", :name => "back_button" unless @corporation.first_step?
