.row.home
  .span5.well
    .row
      .span5
        %h2 Incorporate Online with Incbot
        %br/
      .span1
        %br/
        %i.icon-file-alt.icon-4x
      .span4
        %h3 1. Prepare
        %p Generate legal forms using IncBot
    %br/
    .row
      .span1
        %br/
        %i.icon-search.icon-4x
      .span4
        %h3 2. Review
        %p Ask a lawyer to review before filing
    %br/
    .row
      .span1
        %br/
        %i.icon-exchange.icon-4x
      .span4
        %h3 3. File
        %p Complete the filing from your desk
    %br/
    %br/

    = link_to 'Create a Delaware Corporation', new_corporation_path, :class => "btn btn-primary btn-large"