.row
  .span12 
    .well
      %h1.center create and manage companies
.row.home
  .span5
    %br/
    .row
      .span1
        %br/
        %i.icon-file-alt.icon-4x
      .span4
        %h3 1. Prepare
        %p Generate legal forms using IncBot
    %br/
    .row
      .span1
        %br/
        %i.icon-search.icon-4x
      .span4
        %h3 2. Review
        %p Ask a lawyer to review before filing
    %br/
    .row
      .span1
        %br/
        %i.icon-exchange.icon-4x
      .span4
        %h3 3. File
        %p Complete the filing from your desk
    %br/
    %br/

    = link_to 'Create a Delaware Corporation', new_corporation_path, :class => "btn btn-primary btn-large"

  .span7
    %br/
    .row
      %iframe{:allowscriptaccess => "always", :allowfullscreen => "1", :frameborder => "0", :height => "400", :src => "http://www.youtube.com/embed/C0DPdy98e4c", :width => "650", :rel => "0", :loop => "1", :modestbranding => "1", :theme => "light", :title => "testing incbot"}