%br
%br
.row
  .span6
    %h3 How Incbot works
    .row
      .span4
        %h3
          %i.icon-file-alt.icon-1x
          &nbsp&nbsp1. Prepare
        %p Generate legal forms using IncBot
      .span4
        %h3
          %i.icon-search.icon-1x
          &nbsp&nbsp2. Review
        %p Ask a lawyer to review your filing
      .span4
        %h3
          %i.icon-exchange.icon-1x
          &nbsp&nbsp3. File
        %p Complete the filing with a click
    
  .span6.pull-right
    %h2 Incorporate and dissolve corporate entities online
    %br/
    %br/
    = link_to 'Incorporate now', new_corporation_path, :class => "btn btn-warning btn-large"
    %br
    %br
    %p Incbot is in beta and only creates Delaware Corporations for now.
