%br
%br
.row
  .span12.center
    %h1.jumbotron Incorporate and dissolve corporate entities online
    %br/
    %br/
    = link_to 'Incorporate now', new_corporation_path, :class => "btn btn-warning btn-xlarge"
    %br
    %br
    %br
    %p Incbot is in beta and currently only supports Delaware Corporations.
    %br
    %br
    %br
  .span12
    %hr 
    %h3.center.grey Incorporate in three easy steps
    %br
    %br
    %br
    .row
      .span4.center
        %i.icon-file-alt.jumbicon
        %h1 Prepare
        %p Generate legal forms using IncBot
      .span4.center
        %i.icon-search.jumbicon
        %h1 Review
        %p Ask a lawyer to review your filing
      .span4.center
        %i.icon-exchange.jumbicon
        %h1 File
        %p Complete the filing with a click
    
